/* Global */
body {
	font-family : Arial;
	font-size : 14px;
	margin : 0px;
}

#header {
	height : 40px;
	background-color : #282828;
}

#content {
	width : 700px;
	margin : auto;
}

#footer {
}

.clear {
	clear : both;
}

h1 {
	font-size : 24px;
}

h2 {
	font-size : 20px;
}

h3 {
	font-size : 16px;
}

#drawer > .drawer {
	padding : 5px;
}

#canvas{
  float : left;
  width : 700px;
  height : 500px;
  border : 1px solid black

}

#message_box {
  height : 400px;
  width : 700px;
}

#comment_container {
  overflow-y : scroll;
  overflow-x : hidden;
  background-color : rgb(242,242,242);
  width : 100%;
}

.button {
  height : 20px;
  width : 60px;
  background-color : rgb(102,102,102);
  color : white;
  border : 0;
  margin-right : 0;
  margin-top : 10px;
  margin-bottom : 10px;
  margin-left : 5px;
}

.input_field {
  margin-top : 10px;
  margin-bottom : 10px;
  height : 33px;
  border : 1px solid black;
}

#message_box input {
  width : 698px;
}

#message_box button {
  float : right;
}

.default {
  color : rgb(102,102,102);
}
